// theme colors

$background: #F5F5F5;
$background_dark: #252323;
$background-darker: #1D1B1B;

$neutral_white: #ffffff;
$neutral_light: #E4EBFB;
$neutral_dark: #354564;
$neutral_darkest: #04183E;
$neutral_cloudy: #7183A6;

$brand_green: #1DC763;
$brand_trakto: #0095FF;
$brand_trakto_light: #0095FF;
$brand_trakto_app : #4743FF;

$circle_dark: #464141;
$circle_blue: #80ABF9;
$circle_green: #91DEA2;
$circle_purple: #F4AEFF;
$circle_red: #FF6868;
